body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #2b141c;
    margin: 0; 
    padding: 0;
    background-color: #dba171;
}

header {

  text-align: center;
}

footer {

  text-align: center;
}

main{
  padding: 5%;
}

a:link {
  color: azure;
  background-color: transparent;
  text-decoration:underline;
}
  
a:visited {
  color: azure;
  background-color: transparent;
  text-decoration: underline;
}




/* show page */
.char_name{
  text-align: center;
}

.char_class{
  
  text-align: center;
  text-transform: capitalize;
}

.backstory{
  text-align: left;
}

.character-container {
  background: #fff9eb;
  border: 3px solid #6b4f2a;
  border-radius: 10px;
  margin: 20px;
}

.level_container{
  background: #fff9eb;
  border: 3px solid #6b4f2a;
  border-radius: 10px;
  margin: 0px;
}

.character-image {
  width: 100%;
  height: auto;
  border: 2px solid #4a3520;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}




/* list page */
.char-list{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fade_container{
  position: relative;

  width: 320px;
  height: 320px;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  text-decoration: none;

  background-image: url(images/paper.jpg);
}

.fade_img{
  display: block;
  width: 100%;
  height: auto;
  object-fit:scale-down;
  aspect-ratio: 1/1;

  border-width: 50px;
  border-style: double;
  border: black;
}

.fade_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.fade_container:hover .fade_overlay{
  opacity: 1;
}

.fade_text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}