{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% block content %} 
<div class="container p-5 rounded-5 my-5 bg-primary text-white">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/">Introduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/create">Create</a>
        </li>
    </ul>
</div>

{% endblock %}