{% extends "base.html" %}
{% block title %}list{% endblock %}
{% block content %} 

<div class="char-list">
    {% for character in character %}
    <a href="{{ url_for('character_show', character_id=character['id']) }}">
        <div class="fade_container">
            <img class="fade_img" src="{{ url_for('static', filename='images/characters/' ~ character['image']) }}" alt="{{ character.name }}">
            <div class="fade_overlay">
                <p>{{character["name"]}} <br>
                {{ character.class }} <br>
                {{ character.race }} </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}